@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #E8EAEA;
  --light-blue: #d4ddee;
  --blue-color: #001d55;
  --white: #fff;
  --main-color: #222525;
}

.displaynone {
  display: none;
}

img{
  pointer-events: none
}

a {
  text-decoration: none;
  color: currentColor;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--background-color);
}

@media (min-width: 601px) {
  .navbar {
    background-color: var(--main-color);
    position: fixed;
    z-index: 100;
    height: 7vh;
    transform: translateY(-100%);
    color: var(--background-color);
    margin: 0;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-navbar {
    width: 45px;
  }

  .navbar-brand {
    font-weight: 500;
    font-size: 22px;
    color: var(--background-color);
  }

  .navbar-content {
    display: flex;
    width: 90%;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    color: var(--background-color);
  }

  .icons-navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    color: #fff;
  }

  .navbar-brand:hover {
    color: #fff;
  }

  .btn-login-navbar {
    padding: 6px 9px;
    background-color: #00000000;
    border: 1px solid #757575;
    border-radius: 5px;
    color: var(--white);
    font-size: 14px;
  }

  .div-logo-name-navbar, .navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .div-logins-navbar {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .icon-login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: #575757;
  }

  .texts-navbar-login {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #c8c8c8;
  }

  .icon-login {
    font-size: 18px;
    color: #ececec;
  }

  .line-navbar {
    height: 4vh;
    position: relative;
    width: 1px;
    background-color: #4f4f4f;
  }

  .cart-background {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .cart-navbar {
    font-size: 28px;
  }

  .background-cart-notification {
    width: 20px;
    height: 20px;
    background-color: #64d196;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-notification {
    color: var(--background-color);
    font-size: 10px;
  }

  .home-screen {
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 360px;
    background-color: #C2C2C2;
    overflow: hidden !important;
  }

  .background-home-screen {
    position: relative;
    height: 360px;
    min-width: 130%;
    margin-left: 0%;
    margin-top: 11%;
    background-size: cover;
    background-color: #b7b7b7;
    transform: rotate(-14deg);
    z-index: 1;
  }

  .conteudo-home-screen {
    display: flex;
    position: absolute;
    height: 360px;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
  }

  .txt-home-screen {
    display: flex;
    flex-direction: column;
    max-width: 40%;
  }

  .title-home-screen {
    font-size: 3vw;
    color: #292929;
    font-weight: 700;
  }

  .subtitle-home-screen {
    font-size: 1vw;
    color: #7b7b7b;
  }

  .skate-homescreen {
    top: 0;
    position: relative;
    width: 430px;
    height: 430px;
    z-index: 2;
    transform: rotate(-50deg);
    margin-top: 3%;
  }

  .modal-home-screen {
    position: relative;
    width: 40vw;
    min-height: 45vh;
    background-color: var(--background-color);
    padding: 20px !important;
    box-shadow: #00000048 0px 0px 15px;
    display: flex;
    flex-direction: column;
  }

  .title-modal {
    font-size: 52px;
    font-weight: 300;
    width: 60%;
  }

  .modal-button {
    background-color: var(--white) !important;
    align-self: center;
    margin-top: 10vw;
  }

  .text-button {
    background-color: var(--white);
  }

  .items-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;
    z-index: 3 !important;
  }

  .row-categorias-loja {
    position: relative;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
  }

  .txt-categoria {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 2%;
  }

  .title-categoria {
    font-size: 1.75vw;
    font-weight: 600;
    color: #292929;
  }

  .subtitle-categoria {
    font-size: 0.9vw;
    font-weight: 500;
    color: #757575;
  }

  .categoria-loja {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 160px;
    background-color: #dadada;
    width: 30%;
    overflow: hidden;
    border-radius: 0.4vw;
    padding: 10px;
  }

  .categoria-3 {
    justify-content: space-between !important;
    padding-left: 1vw;
  }

  .categoria-img-1 {
    height: 170%;
  }

  .categoria-img-2 {
    height: 140%;
  }

  .categoria-img-3 {
    height: 130%;
  }

  .row-top-items-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 4vw;
    margin-top: 4vw;
  }

  .title-items-screen {
    font-size: 1.5vw;
    font-weight: 600;
    color: #292929;
  }

  .subtitle-items-screen {
    font-size: 0.8vw;
    font-weight: 600;
    color: #757575;
  }

  .conteudo-filtro-item-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .conteudo-filtro-item-screen input[type="radio"] {
    display: none;
  }

  .conteudo-filtro-item-screen label {
    padding: 7px 14px;
    border: 1px solid #272727;
    border-radius: 100px;
    max-height: 35px;
    font-size: 14px;
  }

  .conteudo-filtro-item-screen input[type="radio"]:checked + label {
    background-color: #272727;
    color: var(--background-color);
    border: none;
  }

  .filtro-item-screen {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-produtos {
    display: flex;
    width: 80vw;
    position: relative;
    justify-content: start;
    gap: 40px;
  }

  .card-produto {
    height: 500px;
    width: 350px !important;
    overflow: hidden;
    background-color: var(--white);
    align-self: center;
    box-shadow: #00000048 1pz;
    transition: transform 0.3s ease;
    border-radius: 7px;
    padding: 20px;
  }

  .card-produto:hover {
    transform: scale(1.04);
  }

  .card-image {
    position: relative;
    width: 100%;
    height: 70%;
    background-size: cover;
  }

  .div-texts-card {
    background-color: var(--white);
    height: 30%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 15px;
  }

  .row-price-and-button{
    display:flex; flex-direction:row; justify-content:space-between; position:relative; width:100%;
  }

  .title-card {
    background-color: var(--white);
    font-size: 15px;
    font-weight: 600;
  }

  .incash-card {
    font-size: 14px;
    color: #757575;
  }

  .installments-card {
    font-size: 12px;
    color: #757575;
  }

  .card-prices {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }

  .cart-button{
    font-size: 24px;
  }

  .add-to-cart-button {
    width: 65px;
    height: 45px;
    background-color: #272727;
    color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
  }

  .add-to-cart-button:hover {
    background-color: #222222;
    color: var(--background-color);
  }

.cart-screen{
  margin-top: 7vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  min-height: 93vh;
  background-color: #E8EAEA;
  overflow: hidden !important;
  justify-content: center;
}

.container-cart{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 80%;
  margin-top: 100px;
  margin-bottom: 10%;
  background-color: #F5F5F5;
  border-radius: 8px;
  padding: 34px;
}

.row-container-cart{
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.title-container-cart{
  font-size: 1.5vw;
  color: #292929;
  font-weight: 600;
}

.subtitle-container-cart{
  font-size: 0.8vw;
  color: #979797;
}

.grid-container-cart{
  width: 95%;
  position: relative;
  height: auto;
  margin-top: 50px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card-container-cart{
  width: 100%;
  position: relative;
  height: 200px;
  background-color: var(--white);
  border-radius: 7px;
  padding: 15px 20px;

  display: flex;
  justify-content: space-between;
  
}

.conteudo-card-cart{
  position:relative;
  display: flex;
  gap: 20px;
}

.txt-card-cart{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 50%;
  margin-top: 3%;
  justify-content: space-between;
}

.title-card-cart{
  font-size: 17px;
  font-weight: 600;
  color: #272727;
}

.incash-card-cart{
  color: #757575;
  font-size: 19px;
  font-weight: 500;
}

.installments-card-cart{
  color: #C90000;
  font-size: 15px;
}

.buttons-card-cart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 20px;
}

.button-excluir-cart{
  border: none;
  padding: 8px 16px;
  background-color: #272727;
  border-radius: 28px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantidade-cart{
  border: 1px solid #272727;
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 28px;
  color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.trash-icon-card{
  font-size: 20px;
}


.wrapper-login{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 150px;
  background-color: #272727;
}

.container-login{
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  width: 25%;
  max-height: 30vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 150px;
  background-color: #353535;
  border-radius: 14px;
}

.input-login{
  padding: 10px 15px;
  border: 1px solid #505050;
  border-radius: 34px;
  background-color: transparent;
  font-size: 15px;
  position: relative;
  color: var(--white);
}

.button-login{
  padding: 7px 14px;
  border-radius: 34px;
  background-color: #272727;
  border: none;
  color: var(--white);
  font-size: 16px;
  align-self: flex-end;
  justify-self: end;
  margin-right: 10%;
}

.column-input{
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 30%;
  justify-content: space-between;
  gap: 40px;
}

.bundle-input-label{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-login{
  font-size: 32px;
  color: var(--white);

}

.input-label{
  color: #ACACAC;
  font-size: 14px;
}

.subtitle-login{
  font-size: 18px;
  color: #757575;
}

}